.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.width-input {
    width: 20rem;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
    text-align: left;
}


@media (min-width: 1150px) {
    .left {
        width: 60%;
        padding-left: 19rem;
    }

    .right {
        width: 35%;
    }
}

@media (min-width: 912px) and (max-width: 1149px) {

    .left {
        width: 60%;
        padding-left: 6rem;
    }

    .right {
        width: 35%;
        text-align: left;
    }
}

@media (min-width: 820px) and (max-width: 911px) {

    .left {
        width: 65%;
        padding-left: 6rem;
    }

    .right {
        width: 35%;
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 819px) {
    .left {
        width: 60%;
        padding-left: 4rem;
    }

    .right {
        width: 35%;
    }
}

@media (min-width: 360px) and (max-width: 411px) {
    .left {
        width: 100%;
        padding-left: 1rem;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 412px) and (max-width: 539px) {
    .left {
        width: 100%;
        padding-left: 1rem;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 280px) and (max-width: 359px) {
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 540px) and (max-width: 767px) {

    .left {
        width: 100%;
        padding-left: 2.2rem;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

.hover-button:hover {
    background-color: #555555;
    color: white;
}

.rounded-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.next-step {
    text-decoration: none;
    color: white;
}

.next-step:hover {
    text-decoration: none;
    color: white;
}