.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.width-input {
    width: 20rem;
}

.left {
    width: 100%;
}

.right {
    width: 100%;
    text-align: left;
}


@media (min-width: 1150px) {
    .left {
        width: 60%;
        padding-left: 19rem;
    }

    .right {
        width: 35%;
    }
}

@media (min-width: 912px) and (max-width: 1149px) {

    .left {
        width: 60%;
        padding-left: 6rem;
    }

    .right {
        width: 35%;
        text-align: left;
    }
}

@media (min-width: 820px) and (max-width: 911px) {

    .left {
        width: 65%;
        padding-left: 6rem;
    }

    .right {
        width: 35%;
        text-align: left;
    }
}

@media (min-width: 768px) and (max-width: 819px) {
    .left {
        width: 60%;
        padding-left: 4rem;
    }

    .right {
        width: 35%;
    }
}

@media (min-width: 360px) and (max-width: 411px) {
    .left {
        width: 100%;
        padding-left: 1rem;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 412px) and (max-width: 539px) {
    .left {
        width: 100%;
        padding-left: 1rem;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 280px) and (max-width: 359px) {
    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 540px) and (max-width: 767px) {

    .left {
        width: 100%;
        padding-left: 2.2rem;
    }

    .right {
        width: 100%;
        text-align: center;
    }
}

.hover-button:hover {
    background-color: #555555;
    color: white;
}

.rounded-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.next-step {
    text-decoration: none;
    color: white;
}

.next-step:hover {
    text-decoration: none;
    color: white;
}

.error-message-style {
    color: red;
    display: none;
    margin-top: -12px;
    margin-bottom: -18px;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.animated-element {
    animation: jump 1s infinite;
    display: inline-block;
}

.content-marketing-1 {
    background-color: rgba(195, 194, 194, 0.564);
    width: 60%;
    margin: 0 auto;
}

.content-marketing-4 {
    width: 60%;
    margin: 0 auto;
}

@media (min-width: 360px) and (max-width: 767px) {

    .content-marketing-1 {
        background-color: rgba(195, 194, 194, 0.564);
        width: 90%;
        margin: 0 auto;
    }

    .content-marketing-4 {
        width: 90%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {

    .content-marketing-1 {
        background-color: rgba(195, 194, 194, 0.564);
        width: 90%;
        margin: 0 auto;
    }

    .content-marketing-4 {
        width: 90%;
        margin: 0 auto;
    }
}